{% extends "layout.html" %}
{% load static %}

{% block content %}
    {% if form.season.initial %}
    <h1>Change Menu</h1>
    <form method="POST" class="menu-form" action="{% url 'menu_edit' pk=pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% else %}
    <h1>New Menu</h1>
    <form method="POST" class="menu-form" action="{% url 'menu_new' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Create</button>
    </form>
    {% endif %}
{% endblock %}

