{%load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Soda Fountain</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
    <div class="content container">
        <div class="page-header">
            {% if user.is_authenticated %}
                <h1 style="float:right;"><a href="{% url 'menu_new' %}">New Menu</a></h1>
            {% endif %}
                <h1 style="float:left;"><a href="/">Soda Fountain</a></h1>
        </div>
        <div class="page-header">
        </div>
    </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>