{%load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Soda Fountain</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="content container">
            <h1 style="float:left;"><a href="/">Soda Fountain</a></h1>
            {% if user.is_authenticated %}
            <ul style="float:right;">
                <li><a href="{% url 'sign_out' %}">Logout</a></li>
                <li><a href="{% url 'menu_new' %}">New Menu</a></li>
            </ul>
            {% else %}
                <ul style="float:right;">
                <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
                <li><a href="{% url 'sign_in' %}">Sign In</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="page-header">
        </div>
    <div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>